@CHARSET "ISO-8859-1";

#family{
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
}

#familyEdit{
	min-width: 900px;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

#familyEdit-topControls{
	display: flex;
	align-items: center;
	justify-content: center;
}

#familyEdit td{
	margin: 10px;
	padding: 10px;
	font-size: 24px;
}

#familyEdit input{
	font-size: 24px;
	width: 200px;
}

#familyEdit label{
	margin-right: 20px;
}

#familyEdit-lowerControls{
	flex-flow: row;
	display: flex;
	width: 800px;
}

#lowerControls-buttons{
	flex-flow: column;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 10px;
}

#familyDisplay{
	width: 20%;
}

#familyDisplay div{
}

#familyDisplay thead td{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#familyDisplay thead td:first-child{
	border-right: 1px solid black;
}

#familyDisplay td{
	text-align: center;
	border-bottom: 1px solid lightgrey;
	font-size: 24px;
}

#familyAddMember{
	width: 400px;	
}

#familyMembersTable{
	width: 400px;
}

#familyEdit-lowerControls thead td{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#familyEdit-lowerControls thead td:first-child{
	border-right: 1px solid black;
}


#familyEdit-lowerControls td{
	text-align: center;
	border-bottom: 1px solid lightgrey;
	font-size: 24px;
}
